<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86778400542-ta98sougnloupvsicferkqgav4ndvklb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86778400542-ta98sougnloupvsicferkqgav4ndvklb</string>
	<key>API_KEY</key>
	<string>AIzaSyCX3rczIQyU2AU20xkwMkGJlppME62ZY5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>86778400542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nus.nmbt</string>
	<key>PROJECT_ID</key>
	<string>no-more-burnt-toast</string>
	<key>STORAGE_BUCKET</key>
	<string>no-more-burnt-toast.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86778400542:ios:ffafe35aacc06dfeb7430f</string>
</dict>
</plist>